[*.cs]

# CA1305: Укажите IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = none

# CA1303: Не передавать литералы в качестве локализованных параметров
dotnet_diagnostic.CA1303.severity = none

# CA1062: Проверить аргументы или открытые методы
dotnet_diagnostic.CA1062.severity = none

# SA1305: Field names should not use Hungarian notation
dotnet_diagnostic.SA1305.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# CA1012: Абстрактные типы не должны иметь конструкторы
dotnet_diagnostic.CA1012.severity = none

# CA1031: Не перехватывать исключения общих типов
dotnet_diagnostic.CA1031.severity = none
